{
  "env": {
    "es2020": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    },
    {
      "files": ["*.test.ts", "*.test.tsx", "*.test.mts", "*.test.cts"],
      "rules": {
        "@typescript-eslint/no-floating-promises": "off"
      }
    }
  ]
}
